include ../common/navigation.jade
header-component

.content.admin
    form(ng-submit="admin.saveData()").pure-form.pure-u-1
        fieldset
            legend Set up a new treatment
            input(
            fetch-data="patient"
            type="text"
            placeholder="Who(username)"
            ng-model="admin.treatment.patient"
            ng-keypress="admin.checkComplete()"
            )#patient
            input(
            fetch-data="drug"
            type="text"
            placeholder="takes what"
            ng-model="admin.treatment.drug"
            ng-keypress="admin.checkComplete()"
            )#drug
            input(
            fetch-data="frequency"
            type="text"
            placeholder="how often"
            ng-model="admin.treatment.frequency"
            ng-keypress="admin.checkComplete()"
            )#frequency
            button(ng-disabled="!admin.isComplete" type="submit").pure-button.pure-button-primary Save
        .new-treatment
                strong {{admin.treatment.patient}}&nbsp;
                i(ng-show="!!admin.treatment.drug") has to take&nbsp;
                {{admin.treatment.drug}}&nbsp;
                {{admin.treatment.frequency}}&nbsp;
                span(ng-show="!!admin.treatment.frequency")
            .pure-u-1-8(ng-show="!!admin.treatment.frequency")

        div(ng-repeat="(key, value) in admin.patients")

            table.pure-table
                thead 
                    tr 
                        th(colspan=2) {{key}}
                tbody
                    tr(ng-repeat="treatment in value.treatments")

                        td {{treatment.drug}}
                        td {{treatment.frequency}}
