extends common/layout.jade

block title
    title Admin

block custom_includes
    script(src="js/admin.js")
    script(src="js/services/treatment.factory.js")
    script(src="js/controllers/admin.controller.js")
    script(src="js/directives/autocomplete.directive.js")

block content
    .pure-g(ng-controller="adminCtrl")
        h1.pure-u-1 Hello Admin

        form(ng-submit="saveData()").pure-form.pure-u-1
            fieldset
                legend Set up a new treatment
                input(
                fetch-data="patient"
                type="text"
                placeholder="Who"
                ng-model="treatment.patient"
                )#patient

                input(
                fetch-data="drug"
                type="text"
                placeholder="takes what"
                ng-model="treatment.drug"
                )#drug

                input(
                fetch-data="frequency"
                type="text"
                placeholder="how often"
                ng-model="treatment.frequency"
                )#frequency

                button(ng-disabled="!isComplete" type="submit").pure-button.pure-button-primary Save

        .treatment-list.pure-g
            .pure-u-1-8
                strong {{treatment.patient}}
            .pure-u-1-8
                i(ng-show="!!treatment.drug") has to take
            .pure-u-1-8
                {{treatment.drug}}
            .pure-u-1-8
                {{treatment.frequency}}
                span(ng-show="!!treatment.frequency") .
            .pure-u-1-8(ng-show="!!treatment.frequency")
                pure-button.pure-button-error Delete

